.secondary-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    grid-template-rows: repeat(2, 1fr);    
    grid-template-columns: repeat(2, 1fr);
    margin: 2em;
}

.secondary-section__title {
    grid-column: 1 / 3;
    flex-direction: column;text-align: center;
    margin-top: 2em;
    margin-bottom: .5em;
}

.skill-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 3em;
    margin-bottom: 2em;
    user-select: none;
    min-width: 130px;
    transition: transform .5s;
}

.skill-card:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.skill-icon{
    position: absolute;
    left: 0;
    font-size: 2.5em;
    transition: opacity .3s;
    filter: drop-shadow(1px 1px 8px inherit);
}

.skill-icon.colored{
    opacity: 0;
}

.skill-icon:not(.colored){
    opacity: 1;
}

.skill-card:hover .skill-icon.colored{
    opacity: 1;
}

.skill-card:hover .skill-icon:not(.colored){
    opacity: 0;
}