<div class="skills-binary__row d-1"><i class="binary-char">0</i><i class="binary-char">1</i><i
        class="binary-char">0</i><i class="binary-char">1</i><i class="binary-char">0</i><i class="binary-char">1</i><i
        class="binary-char">0</i><i class="binary-char">1</i> </div>
<div class="skills-binary__row d-2"><i class="binary-char">0</i><i class="binary-char">1</i><i
        class="binary-char">0</i><i class="binary-char">0</i><i class="binary-char">0</i><i class="binary-char">0</i><i
        class="binary-char">1</i><i class="binary-char">1</i></div>
<div class="skills-binary__row d-3"><i class="binary-char">0</i><i class="binary-char">1</i><i
        class="binary-char">0</i><i class="binary-char">1</i><i class="binary-char">0</i><i class="binary-char">0</i><i
        class="binary-char">1</i><i class="binary-char">0</i></div>