.main-logo, .nav-logo{
    display: flex;
    cursor: pointer;
    user-select: none;
    font-size: 3.5em;
}

.nav-logo{
    margin-bottom: 5em;
    font-size: 2em;
    display: none;
}

.logo-letter{
    transition: transform 1s;
    transform-origin: center;
    animation: skew-letter 2s infinite;
}

.logo-letter:nth-child(odd){
    animation-delay: .5s;
}


.logo-letter.accented{
    filter: drop-shadow(1px 1px 8px var(--clr-accent));
}

.logo-letter:hover{
    animation: skew-hover 1s forwards;
}

@media screen and (max-width: 450px) {

    .nav-logo{
        font-size: 1.8em;
    }

    .main-logo{
        font-size: 2em;
    } 
}

@keyframes skew-hover {
    0%{
        transform: skewX(0deg) ;
    }

    25%{
        transform: skewX(5deg);
    }

    50%{
        transform: skewX(2deg);
    }

    75%{
        transform: skewX(7deg);
    }

    100%{
        transform: skewX(0deg);
    }

}

@keyframes skew-letter {
    0%{
        transform: skewX(0deg);
    }

    25%{
        transform: skewX(2deg);
    }

    50%{
        transform: skewX(0deg);
    }

    75%{
        transform: skewX(1deg);
    }

    100%{
        transform: skewX(0deg);
    }

}